<%= include('includes/top.tmpl') %>

    <div class="main">

        <div class="newsspec_6115-b ns__noJs">

            <div class="quiz-header">
                <h1><%= shortTitle %></h1>
            </div>

            <p><%= introduction %>

            <div class="quiz"></div>
            
        </div>

    </div>

<%= include('includes/bottom.tmpl') %>