<%= include('includes/top.tmpl') %>

    <div class="main">

        <div class="newsspec_6115-b ns__noJs">

            <div class="quiz_header">
                <h1><%= shortTitle %></h1>
            </div>

            <p><%= introduction %>

            <div class="progress">
                <div class="progress--bar"></div>
            </div>

            <div class="question">
                <p class="question--text"><!-- Question text --></p>

                <div class="question_pic_holder"><!-- Question image --></div>

                <ul class="options">
                    <!-- Question options -->
                    <%= loading %>
                </ul>

                <p class="question--fact"><!-- Question feedback --></p>

                <a href="#" class="button button--with_arrow button--next_question hide" /><div class="arrow--right"></div><div class="arrow--right-inside"></div><%= next %></a>
            </div>

            <div class="result result_container">
                <p class="result--heading"></p>  <!-- "You scored X" -->
                <p class="result--score_info"><%= scoreInfo %></p>
                <p class="result--summary"></p>  <!-- Brief description -->
                
                <div class="result--image"></div>
                <a href="#" class="button button--reset_quiz hide"><%= startAgain %></a>
            </div>

            <div class="share_tools_holder hide"></div>
            
            <div class="result--text"></div><!-- Long description -->
            
        </div>

    </div>

<%= include('includes/bottom.tmpl') %>