$anchor-active: #f00;

@import "news_special/defaults";

.quiz-header {
  margin-top: 0;
}

.quiz {}

.quiz__mode-question {

  .quiz--question-section {
    display: block;
  }

  .quiz--result-section {
    display: none;
  }

}

.quiz__mode-result {

  .quiz--question-section {
    display: none;
  }

  .quiz--result-section {
    display: block;
  }

}

.quiz--progress-bar {
  background: gainsboro;
  height: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.quiz--progress-indicator {
  background: grey;
  height: 100%;
          transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

.quiz--list-of-options {
  padding-left: 0;
}
.quiz--option {
  list-style: none;
}

.quiz--label {
  display: block;
  padding: 0.5em;
}

.quiz--label:hover {
  background: gainsboro;
  cursor: pointer;
}

.quiz--next-button {
  background: gainsboro;
  border: 0;
  float: right;
  margin: 0.5em 0.5em 0 0;
  padding: 0.5em;
  text-transform: uppercase;
}

.quiz--next-button:hover,
.quiz--next-button:focus {
  background: grey;
}

.quiz--restart-button {
  background: gainsboro;
  border: 0;
  display: block;
  margin: 0.5em auto;
  padding: 0.5em;
  text-transform: uppercase;
  width: 150px;
}

.quiz--restart-button:hover,
.quiz--restart-button:focus {
  background: grey;
}