    <div class="footer"></div>
    <script>
        var browser = null;
        if ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window ) {
            browser = 'html5';
        }
        else if (/MSIE (7|8)/.test(navigator.userAgent)) {
            browser = 'legacyie';
            document.write('<scr' + 'ipt src="<%= pathStatic %>/<%= vocab_dir %>/js/lib/vendors/legacy-ie-polyfills.js"></scr' + 'ipt>');
        }
        if (browser) {
            var done = false,
                script = document.createElement('script');
            script.src = "<%= pathStatic %>/<%= vocab_dir %>/js/lib/vendors/require/require-2.1.0.js";
            script.type = "text/javascript";
            script.onload = script.onreadystatechange = function() {
                if ( !done && (!this.readyState || this.readyState === "loaded" || this.readyState === "complete") ) {
                    done = true;
                    require.config({
                        urlArgs: "v=<%= version %>"
                    });
                    require(['<%= pathStatic %>/<%= vocab_dir %>/js/all-'+browser+'.js'], function () {
                        require(['app'], function (app) {

                            var data = {
                                questions: [{
                                    question: "<%= question_1 %>",
                                    options: {
                                        "<%= allTheTime %>":    4,
                                        "<%= mostOfTheTime %>": 3,
                                        "<%= sometimes %>":     2,
                                        "<%= almostNever %>":   1,
                                        "<%= never %>":         0
                                    },
                                    supportingText: "<%= supportingText_1 %>"
                                }, {
                                    question: "<%= question_2 %>",
                                    options: {
                                        "<%= allTheTime %>":    4,
                                        "<%= mostOfTheTime %>": 3,
                                        "<%= sometimes %>":     2,
                                        "<%= almostNever %>":   1,
                                        "<%= never %>":         0
                                    },
                                    supportingText: "<%= supportingText_2 %>"
                                }, {
                                    question: "<%= question_3 %>",
                                    options: {
                                        "<%= allTheTime %>":    4,
                                        "<%= mostOfTheTime %>": 3,
                                        "<%= sometimes %>":     2,
                                        "<%= almostNever %>":   1,
                                        "<%= never %>":         0
                                    },
                                    supportingText: "<%= supportingText_3 %>"
                                }, {
                                    question: "<%= question_4 %>",
                                    options: {
                                        "<%= allTheTime %>":    4,
                                        "<%= mostOfTheTime %>": 3,
                                        "<%= sometimes %>":     2,
                                        "<%= almostNever %>":   1,
                                        "<%= never %>":         0
                                    },
                                    supportingText: "<%= supportingText_4 %>"
                                }, {
                                    question: "<%= question_5 %>",
                                    options: {
                                        "<%= allTheTime %>":    4,
                                        "<%= mostOfTheTime %>": 3,
                                        "<%= sometimes %>":     2,
                                        "<%= almostNever %>":   1,
                                        "<%= never %>":         0
                                    },
                                    supportingText: "<%= supportingText_5 %>"
                                }, {
                                    question: "<%= question_6 %>",
                                    options: {
                                        "<%= allTheTime %>":    4,
                                        "<%= mostOfTheTime %>": 3,
                                        "<%= sometimes %>":     2,
                                        "<%= almostNever %>":   1,
                                        "<%= never %>":         0
                                    },
                                    supportingText: "<%= supportingText_6 %>"
                                }, {
                                    question: "<%= question_7 %>",
                                    options: {
                                        "<%= allTheTime %>":    0,
                                        "<%= mostOfTheTime %>": 1,
                                        "<%= sometimes %>":     2,
                                        "<%= almostNever %>":   3,
                                        "<%= never %>":         4
                                    },
                                    supportingText: "<%= supportingText_7 %>"
                                }, {
                                    question: "<%= question_8 %>",
                                    options: {
                                        "<%= allTheTime %>":    4,
                                        "<%= mostOfTheTime %>": 3,
                                        "<%= sometimes %>":     2,
                                        "<%= almostNever %>":   1,
                                        "<%= never %>":         0
                                    },
                                    supportingText: "<%= supportingText_8 %>"
                                }, {
                                    question: "<%= question_9 %>",
                                    options: {
                                        "<%= allTheTime %>":    4,
                                        "<%= mostOfTheTime %>": 3,
                                        "<%= sometimes %>":     2,
                                        "<%= almostNever %>":   1,
                                        "<%= never %>":         0
                                    },
                                    supportingText: "<%= supportingText_9 %>"
                                }, {
                                    question: "<%= question_10 %>",
                                    options: {
                                        "<%= allTheTime %>":    4,
                                        "<%= mostOfTheTime %>": 3,
                                        "<%= sometimes %>":     2,
                                        "<%= almostNever %>":   1,
                                        "<%= never %>":         0
                                    },
                                    supportingText: "<%= supportingText_10 %>"
                                }],
                                feedback: [{
                                    description: "<%= resultDescription_1 %>",
                                    maxScore:    "25",
                                    summary:     "<%= resultSummary_1 %>"
                                }, {
                                    description: "<%= resultDescription_2 %>",
                                    maxScore:    "35",
                                    summary:     "<%= resultSummary_2 %>"
                                }, {
                                    description: "<%= resultDescription_3 %>",
                                    maxScore:    "40",
                                    summary:     "<%= resultSummary_3 %>"
                                }]
                            }

                            var vocab = {
                                next:          "<%= next %>",
                                restart:       "<%= restart %>",
                                outOf:         "<%= outOf %>",
                                iRated:        "<%= iRated %>",
                                youRated:      "<%= youRated %>",
                                onTheQuiz:     "<%= onTheQuiz %>",
                                generalAdvice: "<%= generalAdvice %>"
                            };

                            app.init('<%= storyPageUrl %>', data, vocab);
                        });
                    });
                }
            }
            document.body.appendChild(script);
        }
    </script>
</body>
</html>