    <div class="footer"></div>
    <script>
        var browser = null;
        if ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window ) {
            browser = 'html5';
        }
        else if (/MSIE (7|8)/.test(navigator.userAgent)) {
            browser = 'legacyie';
            document.write('<scr' + 'ipt src="<%= pathStatic %>/<%= vocab_dir %>/js/lib/vendors/legacy-ie-polyfills.js"></scr' + 'ipt>');
        }
        if (browser) {
            var done = false,
                script = document.createElement('script');
            script.src = "<%= pathStatic %>/<%= vocab_dir %>/js/lib/vendors/require/require-2.1.0.js";
            script.type = "text/javascript";
            script.onload = script.onreadystatechange = function() {
                if ( !done && (!this.readyState || this.readyState === "loaded" || this.readyState === "complete") ) {
                    done = true;
                    require.config({
                        urlArgs: "v=<%= version %>"
                    });
                    require(['<%= pathStatic %>/<%= vocab_dir %>/js/all-'+browser+'.js'], function () {
                        require(['app'], function (app) {

                            var appData = {
                                questions: [
                                    {
                                        fact: "<%= fact_1 %>",
                                        main: {
                                            options: ["<%= allTheTime %>", "<%= mostOfTheTime %>", "<%= sometimes %>", "<%= almostNever %>", "<%= never %>"],
                                            text: "<%= text_1 %>",
                                            values: [4, 3, 2, 1, 0]
                                        }
                                    },
                                    {
                                        fact: "<%= fact_2 %>",
                                        main: {
                                            options: ["<%= allTheTime %>", "<%= mostOfTheTime %>", "<%= sometimes %>", "<%= almostNever %>", "<%= never %>"],
                                            text: "<%= text_2 %>",
                                            values: [4, 3, 2, 1, 0]
                                        }
                                    },
                                    {
                                        fact: "<%= fact_3 %>",
                                        main: {
                                            options: ["<%= allTheTime %>", "<%= mostOfTheTime %>", "<%= sometimes %>", "<%= almostNever %>", "<%= never %>"],
                                            text: "<%= text_3 %>",
                                            values: [4, 3, 2, 1, 0]
                                        }
                                    },
                                    {
                                        fact: "<%= fact_4 %>",
                                        main: {
                                            options: ["<%= allTheTime %>", "<%= mostOfTheTime %>", "<%= sometimes %>", "<%= almostNever %>", "<%= never %>"],
                                            text: "<%= text_4 %>",
                                            values: [4, 3, 2, 1, 0]
                                        }
                                    },
                                    {
                                        fact: "<%= fact_5 %>",
                                        main: {
                                            options: ["<%= allTheTime %>", "<%= mostOfTheTime %>", "<%= sometimes %>", "<%= almostNever %>", "<%= never %>"],
                                            text: "<%= text_5 %>",
                                            values: [4, 3, 2, 1, 0]
                                        }
                                    },
                                    {
                                        fact: "<%= fact_6 %>",
                                        main: {
                                            options: ["<%= allTheTime %>", "<%= mostOfTheTime %>", "<%= sometimes %>", "<%= almostNever %>", "<%= never %>"],
                                            text: "<%= text_6 %>",
                                            values: [4, 3, 2, 1, 0]
                                        }
                                    },
                                    {
                                        fact: "<%= fact_7 %>",
                                        main: {
                                            options: ["<%= allTheTime %>", "<%= mostOfTheTime %>", "<%= sometimes %>", "<%= almostNever %>", "<%= never %>"],
                                            text: "<%= text_7 %>",
                                            values: [0, 1, 2, 3, 4]
                                        }
                                    },
                                    {
                                        fact: "<%= fact_8 %>",
                                        main: {
                                            options: ["<%= allTheTime %>", "<%= mostOfTheTime %>", "<%= sometimes %>", "<%= almostNever %>", "<%= never %>"],
                                            text: "<%= text_8 %>",
                                            values: [4, 3, 2, 1, 0]
                                        }
                                    },
                                    {
                                        fact: "<%= fact_9 %>",
                                        main: {
                                            options: ["<%= allTheTime %>", "<%= mostOfTheTime %>", "<%= sometimes %>", "<%= almostNever %>", "<%= never %>"],
                                            text: "<%= text_9 %>",
                                            values: [4, 3, 2, 1, 0]
                                        }
                                    },
                                    {
                                        fact: "<%= fact_10 %>",
                                        main: {
                                            options: ["<%= allTheTime %>", "<%= mostOfTheTime %>", "<%= sometimes %>", "<%= almostNever %>", "<%= never %>"],
                                            text: "<%= text_10 %>",
                                            values: [4, 3, 2, 1, 0]
                                        }
                                    }
                                ],
                                results: [
                                    {
                                        description: "<%= resultDescription_1 %>",
                                        maxScore: "16",
                                        summary: "<%= resultSummary_1 %>"
                                    },
                                    {
                                        description: "<%= resultDescription_2 %>",
                                        maxScore: "24",
                                        summary: "<%= resultSummary_2 %>"
                                    },
                                    {
                                        description: "<%= resultDescription_3 %>",
                                        maxScore: "32",
                                        summary: "<%= resultSummary_3 %>"
                                    }
                                ],
                                generalAdvice: "<%= generalAdvice %>"
                            }

                            var vocab = {
                                youScored: '<%= youScored %>',
                                outOf: '<%= outOf %>',
                                problemWithResult: '<%= problemWithResult %>',
                                iScored: '<%= iScored %>',
                                onTheQuiz: '<%= onTheQuiz %>',
                                unknownError: '<%= unknownError %>'
                            };

                            app.init('<%= storyPageUrl %>', appData, vocab);
                        });
                    });
                }
            }
            document.body.appendChild(script);
        }
    </script>
</body>
</html>